body {
    background-color: rgb(99, 99, 99);
}

header{
    margin-left: -10px;
    background-color: brown;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    line-height: 10px;
    flex-direction: row-reverse;    
}

h1 {
    text-align: center;
    color: aqua;
}

#btn_si{
    align-items: right;
}

h2 {
    color: aqua;
}

h3 {
    color: greenyellow;
}

a {
    color: red;
}

p {
    margin-top: 2px;
    color: greenyellow;
}

li {
    color: greenyellow;
}

button {
    background-color: aliceblue;
    color: purple;
}

.form {
    color: white;
}

.block{
    color: azure;
}

.button{
    width: 50px;
    height: 25px;
    color: black;
    background-color: azure;
}

.insert{
    margin: 5px;
    color: azure;
}

.home, .logout{
    margin-top: 60px;
}

.Login{
    margin-top: 100px;
}

.mua{
    display: inline-block;
}

button{
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    width: 100%px;
    margin-top: 5px;
}

.img {
    border-radius: 20px;
    width: 275px;
    height: 350px;
}

#san_pham{
    align-items: center;
}

.sanPham{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    margin: 10px;
    display: block;
    
}